.nav-footer {
  background:
    linear-gradient(-5deg, #000, transparent 20%),
    linear-gradient(0deg, #222);
}

/* Hide footnotes in footer */
section#footnotes { display: none !important; }
#quarto-appendix.default { border-top: none !important; }

